@import "../abstracts/mixins";
@import "../abstracts/variables";
@import "../abstracts/fonts";

.main {
  height: 100vh;
  background-image: url("../../public/bg.jpg");
  background-position: right;
  background-size: cover;
  position: relative;
  .card {
    height: 63vh;
    width: 63vw;
    padding: 1.4rem;
    border-radius: 0.7rem;
    @include absCenter();
    @include glass();
    @include flex(column, space-evenly, center);
    .title {
      text-transform: uppercase;
      letter-spacing: 0.7rem;
      font-size: 2.8rem;
      color: #000;
      transition: ease-in 0.2s;
      &:hover {
        color: $ni;
        font-size: 2.82rem;
      }
    }
    .form {
      height: 30%;
      width: 50%;
      padding: 1.4rem;
      @include flex(column, space-evenly, center);
      .err {
        color: #f56868;
      }
      .label {
        text-transform: uppercase;
        letter-spacing: 0.4rem;
        font-size: 1.7rem;
        font-weight: bold;
        color: $ni;
        &:hover {
          color: $ichi;
          font-size: 1.79rem;
        }
      }
      input {
        font-size: 1.4rem;
        padding: 0.7rem;
        letter-spacing: 0.1rem;
        text-align: center;
        width: 87%;
        color: #fff;
        border: none;
        background-color: #00000000;
        border-bottom: 0.2rem solid $ni;
      }
      input:focus {
        outline: none;
        border-bottom: 0.2rem solid rgb(255, 255, 255);
      }
      .find {
        padding: 0.7rem;
        margin-top: 2.1rem;
        border: none;
        transition: all ease-in 0.1s;
        @include glass();
        &:hover {
          transform: translateY(-0.12rem);
          background-color: azure;
        }
      }
    }
  }
}

//=======================================================
// Tablet Potrait
//=======================================================

@include respond(tab-port) {
  .main {
    .card {
      .form {
        width: 63%;
        input {
          width: 97%;
        }
      }
    }
  }
}

//=======================================================
// Phone
//=======================================================

@include respond(phone) {
  .main {
    .card {
      width: 70vw;
      padding: 0.7rem;
      .title {
        font-size: 2.4rem;
        text-align: center;
        color: #000;
        transition: ease-in 0.2s;
        &:hover {
          color: $ni;
          font-size: 2.82rem;
        }
      }
      .form {
        width: 77%;
        .err {
          color: #fdb5b5;
        }
        .label {
          color: #000;
        }
        input {
          font-size: 1.9rem;
          width: 97%;
          margin-top: 2.1rem;
        }
      }
    }
  }
}
