@import "../components/navbar";
@import "../abstracts//mixins";

.root {
  &__body {
    height: 100vh;
    width: 100vw;
    @include flex(row, space-evenly, center);
    &__current {
      height: 100%;
      width: 28%;
      background-color: white;
      padding: 2.1rem;
      @include flex(column, space-evenly, center);
      &__search {
        height: 12%;
        width: 100%;
        @include flex(column, center, center);
        &__form {
          width: 100%;
          height: 100%;
          @include flex(row, center, center);
          &__myinput {
            width: 84%;
            height: 49%;
            border-radius: 2rem 0 0 2rem;
            border: solid;
            border-right: none;
            border-color: $rei;
            padding: 0.7rem;

            &:focus {
              outline: none;
            }
          }
          &__find {
            width: 16%;
            height: 49%;
            border: solid;
            border-color: $rei;
            border-left: none;
            background-color: white;
            padding: 0.7rem;
            text-align: center;
            border-radius: 0 2rem 2rem 0;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
      &__svg {
        height: 21%;
        width: 100%;
        @include flex(row, center, center);
      }
      &__details {
        padding: 0.7rem;
        height: 58%;
        width: 100%;
        &__temp {
          text-align: center;
          font-size: 6.3rem;
          &::after {
            content: "\00b0 c";
            font-size: 4.2rem;
          }
        }
        &__datetime {
          text-align: center;
          font-size: 2.1rem;
          font-weight: 400;
          & > span {
            color: #5f5f5f;
          }
        }
        & > hr {
          margin: 2.8rem 0;
        }
        &__weather,
        &__precip {
          text-align: center;
          font-size: 1.7rem;
          font-weight: 400;
        }
        & > h3 {
          text-align: center;
          font-size: 2.1rem;
          margin-top: 2.1rem;
          text-transform: uppercase;
          letter-spacing: 1.4rem;
        }
      }
    }
    &__weatherDetails {
      height: 100%;
      width: 72%;

      &__header {
        height: 10vh;
        width: 100%;
        padding: 0 3.5rem;
        @include flex(row, space-between, center);
        & > p {
          width: 30%;
          letter-spacing: 0.2rem;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 2.1rem;
          background: -webkit-linear-gradient(#000000cc, #96761ecc);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        &__deg {
          height: 100%;
          width: 10%;
          @include flex(row, space-between, center);
          &--c,
          &--f {
            background-color: white;
            border: none;
            padding: 0.7rem;
            border-radius: 50%;
            font-weight: bold;
            transition: all ease-in 0.1s;
          }
          &--c:hover,
          &--f:hover {
            background-color: #1e1714;
            color: white;
          }
          &--c:active,
          &--f:active {
            transform: translateY(-0.2rem);
          }
          &--c::before,
          &--f::before {
            content: "\00b0";
          }
        }
      }
      &__forecast {
        height: 25vh;
        width: 100%;
        padding: 0.7rem;
        overflow-x: scroll;
        @include flex(row, none, center);
        flex-wrap: nowrap;
        &__hour {
          @include flex(column, space-between, center);
          background-color: #fff;
          width: 13rem;
          flex: 0 0 auto;
          margin: 0 0.7rem;
          height: 98%;
          border-radius: 1.4rem;
          padding: 0.7rem;
          box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.16),
            0 0.2rem 0.2rem rgba(0, 0, 0, 0.23);
          &:hover {
            box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.16),
              0 0.3rem 0.5rem rgba(0, 0, 0, 0.23);
          }
          & > p {
            font-size: 1.4rem;
          }
          & > h3 {
            font-size: 2.1rem;
            &::after {
              content: "\00b0 c";
            }
          }
        }
      }
      &__grid {
        height: 65vh;
        width: 100%;
        padding: 1.4rem;
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-rows: 50% 50%;
        place-items: center;
        gap: 0.7rem;
        &__item {
          @include flex(column, space-between, center);
          width: 96%;
          height: 96%;
          background-color: #fff;
          border-radius: 0.7rem;
          padding: 0.7rem;
          box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.16),
            0 0.2rem 0.2rem rgba(0, 0, 0, 0.23);
          &:hover {
            box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.16),
              0 0.3rem 0.3rem rgba(0, 0, 0, 0.23);
          }
          & > p {
            color: #7e7e7e;
            font-size: 1.6rem;
            text-align: center;
            font-weight: bold;
          }
          &__row {
            padding: 0.7rem;
            width: 100%;
            font-size: 1rem;
            @include flex(row, space-evenly, center);
          }
          &__subitem {
            padding: 1.4rem;
            width: 100%;
            font-size: 2.1rem;
            @include flex(row, space-evenly, center);
          }
        }
      }
    }
  }
}

@include respond(tab-port) {
  .root {
    &__body {
      &__current {
        width: 35%;
        padding: 1.4rem;
        &__details {
          &__temp {
            font-size: 5.6rem;
            &::after {
              font-size: 3.5rem;
            }
          }
          &__weather,
          &__precip {
            font-size: 1.4rem;
          }
          & > h3 {
            font-size: 2.1rem;
          }
        }
      }
      &__weatherDetails {
        height: 100%;
        width: 72%;

        &__header {
          height: 10vh;
          width: 100%;
          padding: 0 3.5rem;
          @include flex(row, space-between, center);
          & > p {
            width: 30%;
          }
          &__deg {
            &--c {
              margin-right: 1.4rem;
            }
          }
        }
        &__forecast {
          height: 20vh;
          width: 100%;
          padding: 1.4rem;
        }
        &__grid {
          height: 70vh;
          width: 100%;
          padding: 1.4rem;
        }
      }
    }
  }
}
